@(title: String)(content : Html)
<!DOCTYPE html>
<html lang="en">
<head>
<title>@title</title>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")"/>
<script type="text/javascript" src="javascripts/bootstrap.js"></script>
</head>
<body>
@analytics()

@content


<div class="row">@advert()</div>

<div class='navbar navbar-fixed-bottom'>
A thing by: <a href="http://twitter.com/pauldoo">@@pauldoo</a>, using
<a href="http://twitter.github.com/bootstrap/">Bootstrap</a>,
<a href="http://heroku.com/">Heroku</a>,
<a href="http://playframework.org/">Play!</a>,
and 
<a href="http://www.scala-lang.org/">Scala</a>.
</div>
</body>
</html>